<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Bronze Scapula - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      id="nav"
      class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Bronze Scapula</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="#">Bedroom</a>
              <a class="dropdown-item" href="#">Family Room</a>
              <a class="dropdown-item" href="#">Kitchen</a>
              <a class="dropdown-item" href="#">Dining Room</a>
              <a class="dropdown-item" href="#">Workspace</a>
              <a class="dropdown-item" href="#">Bathroom</a>
            </div>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="feedback.html">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div
            class="carousel-item active"
            style="
              background-image: url(assets/h2.jpg);
            "
          >
            <div class="carousel-caption d-none d-md-block">
              <h3>Brand New!</h3>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="
              background-image: url(assets/h44.jpg);
            "
          >
            <div class="carousel-caption d-none d-md-block">
              <h3 id="car">Most Search!</h3>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="background-image: url(assets/h3.jpg)"
          >
            <div class="carousel-caption d-none d-md-block">
              <h3 id="car">Hand Made.</h3>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <!-- Portfolio Section -->
      <h2 id="ph">Our Products</h2>

      <div id="rows" class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="assets/produk1.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Comfy Wing Chair</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus
                sit, repellat sequi itaque deserunt.
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$69,99</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="assets/produk2.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Black Picture Frame</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae. gravida pellentesque urna
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$27,99</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top imgs"
                src="assets/produkk3.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Gray Ceramic Vase</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
                quisquam, error quod sed cumque, odio distinctio velit nostrum
                temporibus necessitatibus.
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$25,99</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top"
                src="assets/produk4.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Light Lamp</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae.  Deserunt sed vero quod ab? Illum, autem officia, voluptatem quia.
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$39,99</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top imgs"
                src="assets/produk5.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Cushion Cover</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                viverra euismod odio, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$25,99</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"
              ><img
                class="card-img-top imgs"
                src="assets/produk6.jpg"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Wooden Kitchen Spoons</a>
              </h4>
              <!-- <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
                earum nostrum suscipit ducimus nihil provident, perferendis rem
                illo, voluptate atque.viverra euismod odio,
              </p> -->
              <br><br>
              <h3 class="card-subtitle mb-2 text-muted">$19,99</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      
      </div>
      <!-- /.row -->

      <hr />

      <!-- Call to Action Section -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        
        <p class="m-0 text-center text-white">
          Copyright &copy; Christopher 2021
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
